apiVersion: v1
data:
  githubAppID: # Base64 encoded GitHub App ID
  githubAppInstallationID: # Base64 encoded GitHub App Installation ID
  githubAppPrivateKey: # Base64 encoded GitHub App Private Key
  notesPlain: ""
  repoURL: # Base64 encoded repository URL pattern
  repoURLIsRegex: # Base64 encoded boolean (true/false)
kind: Secret
metadata:
  labels:
    kargo.akuity.io/cred-type: git
  name: kargo-github-app
  namespace: kargo
type: Opaque